{{#courier-partial}}
{{#prerender "prerenderedText"}}{{> @partial-block}}{{/prerender}}
{{#unless isInColumn}}
<mj-section css-class="c--block c--block-action">
  <mj-column>
{{/unless}}
    {{#if (condition @style "===" "link")}}
    <mj-text align="{{@align}}" css-class="{{text-direction @prerenderedText}}">
      <a href="{{get-href @href disableLinkTracking=@disableLinkTracking context="action" text=@prerenderedText}}" target="_blank">{{{@prerenderedText}}}</a>
    </mj-text>
    {{else}}
    <mj-button align="{{@align}}" href="{{get-href @href context="action" text=@prerenderedText disableLinkTracking=@disableLinkTracking}}"
      background-color="{{@backgroundColor}}" border-radius="4px" font-size="14px" inner-padding="10px 20px"
      padding="8px 0px">
      {{{@prerenderedText}}}
    </mj-button>
    {{/if}}
{{#unless isInColumn}}
  </mj-column>
</mj-section>
{{/unless}}
{{/courier-partial}}
